.model-selector-container {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 100;
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container > * {
  /*width: 70%;*/
  margin-left: 15%;
  margin-right: calc(15% + var(--sidebar-closed-width));
}

.textarea-wrapper {
  width: 100%;
  position: relative;
}

.send-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  align-items: center;

}

textarea:focus {
  border-color: #4a9eff;
}

textarea::placeholder {
  color: #666;
}

.main-content {
  flex: 1;
  max-width: calc(100% - var(--sidebar-width));
  left: var(--sidebar-width);
  background-color: #212121;
  display: flex;
  padding: 0;
  position: relative;
  z-index: 1; /* Ensure main content stays below sidebar */
  transition: max-width 0.3s ease, left 0.3s ease; /* Specify properties to transition */
  overflow: hidden;
}

.main-content.sidebar-closed {
  max-width: calc(100% - var(--sidebar-closed-width));
  left: var(--sidebar-closed-width);
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.chat-window {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 70%;
  max-width: 1200px;
}

.message {
  padding: 10px 15px;
  /*border-radius: 8px;*/
  max-width: 80%;
  word-wrap: break-word;
}

.user-message {
  background-color: #303030;
  color: white;
  align-self: flex-end;
  border-radius: 20px;
  max-width: 500px;
}

.ai-message {
  color: white;
  width: 43rem;
  align-self: flex-start;
}


/* shouldn't have background color*/
.input-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

textarea {
  width: 100%;
  min-height: 56px;
  max-height: 200px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #303030;
  color: white;
  font-size: 14px;
  resize: none;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow-y: auto;
  line-height: 1.5;
}

textarea:focus {
  border-color: #4a9eff;
}

textarea::placeholder {
  color: #666;
}

.pulsing-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 5px;
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.7;
  }
}
